@import "tailwindcss";
@plugin "daisyui";

body {
    color: white;
    background-color: #1D232A;
    margin: 0;
    padding: 0;
}

.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.scrollbar-thin:hover {
    scrollbar-color: #1e293b transparent;
}

.scrollbar-thin::-webkit-scrollbar {
    width: 0px;
    height: 2px;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    width: 1px;
    background: transparent;
}

.scrollbar-thin:hover::-webkit-scrollbar-thumb {
    background: #1e293b;
}

.scrollbar-thin::-webkit-scrollbar-button {
    display: none;
}